.texts{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.inputs{
    height: 500px;
     width: 50%;
    text-align: center;
    font-size: 50px;
    border: 2px solid black;
    min-width: 400px;
}
   .input_text{
      height: 100%;
      width: 100%;
     display: flex;
    justify-content: center;
    margin-top:20px ; 
}
h1{
    text-align: center;
}
.color{
    height: 20px;
    width: 40px;
}
body{
    background-color: cadetblue;
}
